# === Lista de Dir. e Arq. que serão ignorados pelo GITHUB ===

Área de trabalho
Downloads
Modelos
Público
Documentos
Imagens
Música
Vídeos
.oh-my-zsh
.cache/mozilla/firefox
.cache/google-chrome
.cache/konqueror
