[Desktop Entry]
Icon=video-mp4
Name=01_Segunda_semana_omnistack_90_conhecendo_a_omnistack_BPPWQNz2jPA_1080p.mp4
Type=Link
URL[$e]=file:$HOME/V\xc3\xaddeos/Omnistak/01 - Segunda-feira/01_Segunda_semana_omnistack_90_conhecendo_a_omnistack_BPPWQNz2jPA_1080p.mp4
X-KDE-LastOpenedWith=vlc
