[Desktop Entry]
Icon=image-jpeg
Name=294654.jpg
Type=Link
URL[$e]=file:$HOME/Imagens/Wallpaper_Debian/294654.jpg
X-KDE-LastOpenedWith=/usr/share/kservices5/screenlocker.desktop
