[Desktop Entry]
Icon=/home/jocimar/.cache/favicons/github.com.png
Name=issues
Type=Link
URL[$e]=https://github.com/shanalikhan/code-settings-sync/issues
X-KDE-LastOpenedWith=kfmclient_html
