[Desktop Entry]
Icon=text-html
Name=items
Type=Link
URL[$e]=https://marketplace.visualstudio.com/items?itemName=eppz.eppz-code
X-KDE-LastOpenedWith=kfmclient_html
