[Desktop Entry]
Icon=text-html
Name=sdk-for-vs-code
Type=Link
URL[$e]=https://dotnet.microsoft.com/download/dotnet-core/sdk-for-vs-code?utm_source=vs-code&utm_medium=referral&utm_campaign=sdk-install
X-KDE-LastOpenedWith=kfmclient_html
