#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Simet
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=nnokjffnngdgfplfmimjioknefmkjfgc
Icon=chrome-nnokjffnngdgfplfmimjioknefmkjfgc-Default
StartupWMClass=crx_nnokjffnngdgfplfmimjioknefmkjfgc
